src/gadgets/libDiff/Gadget-libDiff.js linguist-generated=true
src/gadgets/libBilibiliVideo/Gadget-libNanoSDK.js linguist-generated=true
src/gadgets/libBilibiliVideo/Gadget-libPlayerUtil.js linguist-generated=true
